* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: #000000;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
}


/* Utility Classes */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:  #f9f9f9;
    padding: 20px;
    margin: auto;
}

.root{
    position: relative;
    height: calc(100% - 100px);
    width: 100%;
}
/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vmin;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    font-size: 1.7rem;
    padding: 25px 40px 25px 40px;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: #fff;
}
nav h2{
    font-size: 1.7rem;
}
nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
}
nav i{
    display: none;
    flex-wrap: wrap;
    font-size: 3vh;
}


/* Hero Section */
#hero {
    gap: 5rem;
    height: 100vh;
    margin-top: 0%; 
    flex-wrap: wrap-reverse;
    position: relative;
    padding: 20px;
}
#hero_text h1{
    color: #2d2e32;
    font-size: 3.5rem;
    line-height: 1.2;
}
#hero_text h1 img{
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin-right: -10px;
    margin-top: -10px;
}
#hero_text p{
    color: #555;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: Mulish, sans-serif;

}
#hero_text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
#hero_text span a img{
    width: 2rem;
}

#hero_img img{
    margin-top: 5rem;
    max-width: 30vw;
    border-radius: 40%;

}

.tech_stack img{
    cursor: pointer;
    margin-right: 5px;
}

@media (max-width: 900px) {
    
    nav ul a{
      display: none;
    }
    nav i{
      display: block;
    }
    #hero_img {
        display: none;
    }
    #hero_text span{
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
    .tech_stack , #hero_text span{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    #hero_text p, #hero_text h1{
        text-align: center;
    }
    .tech_stack img{
        margin-top: 1rem;
    }
    #hero_text h1 img{
        display: none;
    }
    
  
  }


 
/* Default styles */
.about_section {
    padding: 20px;
    background-color: #fff;
}

.about_section .container {
    max-width: 70vw;
    margin-top: 5rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about_img img {
    max-width: 35vw;
    height: auto;
    border-radius: 15px;
}

.about_text {
    max-width: 30vw;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    font-family: Mulish, sans-serif;
}

@media screen and (max-width: 900px) {
    .about_section .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; /* Distribute space evenly */
    }

    .about_text {
        max-width: 100%;
        text-align: left;
        margin-top: 20px; /* Add margin for better spacing */
    }
    .about_img img{
        max-width: 100%;
    }
}

.project_section .container{
    padding: 120px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
}
@media screen and (max-width: 900px) {
    .project_section .container {
        padding: 80px; /* Optional: Add horizontal padding for better spacing */
    }
}

.footer_section {
    background-color: #2d2e32;
    /* padding: 20px; */
    position: relative;
}
.footer_section .container{
    max-width: 95vw;
    padding: 20px;
    background-color: #2d2e32;
    display: flex;
    justify-content: space-between;
}
.footer_section form{
    margin-left: 15vmax;
    width: 30vmax;
    
}
form label ,footer h3{
    color: #fff;
}
#contactForm div label{
    width: 30%;
}
#contactForm div input, textarea{
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 70%;
}
#contactForm textarea{
    height: 100px;
}
#contactForm button{
    width: 98%;
    margin: 10px;
    font-size: 1rem;
    background-color: #147efb;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 5px;
}
form textarea, form input{
    padding: 5px;
}
.label_inline{
    display: flex;
    margin: 10px;
}
#social_links_section{
    position: relative;
}
#social_links{
    margin-top: 40%;
}

/* Media queries for footer section */
@media screen and (max-width: 900px) {
    .footer_section .container {
        flex-direction: column;
        align-items: center;
        background-color: yellow;
        justify-content: none;
        position: relative;
        height: 30vmax;
    }
    form{
        width: 100%;
    }
    #form_container {
        margin-left: 0; /* Reset margin */
        width: 100%; /* Occupy full width */
    }

    #social_links_section {
        margin-top: 1rem; /* Adjust margin */
    }
}

/* Additional styles for smaller screens if needed */


/* Additional styles for smaller screens if needed */

/* .footer h3 {
    padding: 20px;
    color: white;
    max-width: 70vw; 
    font-size: 1.2rem;
    font-weight: 700;
    
}
.label_inline{
    display: flex;
    margin: 10px;
}
form label {
    color: #fff;
    margin: 10px;
}
form input{
    width: 100%;
}
footer form textarea{
    height: 8vmax;
    width: 100%;
}

footer form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #147efb;
}
#social_links{
    line-height: 0.5rem;
     margin-top: 10vh; 
}
/* #social_links span{
    margin-left: 20px;
} */ 

